<h2 mat-dialog-title>
  @switch(data.action) {

  @case('add') {
  @if (isExistingProfessional) {
  Asignar Box - SECTOR {{data.sectorId}}
  } @else {
  Agregar profesional - SECTOR {{data.sectorId}}
  }
  }

  @case('edit') { Editar box asignado }
  @case('delete') { Eliminar box asignado }

  }
</h2>

<mat-dialog-content class="dialog-container">

  @if (data.action !== 'delete') {

  <!-- =========================
     INFO PROFESIONAL
========================= -->
  <h3 class="sub-title">Información del profesional</h3>

  <div class="row">

    <mat-form-field appearance="outline" class="flex-2">
      <mat-label>Buscar profesional</mat-label>

      <input
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        placeholder="Ej: Maria Gonzalez"
        required />

      @if (searchControl.touched && !searchControl.value) {
      <mat-error>El nombre es obligatorio</mat-error>
      }

      @if (searchControl.value) {
      <button matSuffix mat-icon-button (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
      }

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayProfessional"
        (optionSelected)="selectProfessional($event.option.value)">

        @if (!isExistingProfessional) {
        @for (p of filteredProfessionals; track p.id) {
        <mat-option [value]="p" class="capitalize">
          {{ p.nombre }}
        </mat-option>
        }
        }

      </mat-autocomplete>
    </mat-form-field>

    @if (data.action === 'edit') {
    <button mat-raised-button color="warn" class="btn-danger"
      (click)="confirmDeleteProfessional()">
      Eliminar
    </button>
    }

  </div>

  <!-- =========================
     ESPECIALIDAD
========================= -->
  <mat-form-field appearance="outline" required>
    <mat-label>Especialidad</mat-label>
    <mat-select [formControl]="specialtyControl" required
      placeholder="Seleccionar especialidad">
      <mat-option value="médico">Médico</mat-option>
      <mat-option value="matrona">Matrona</mat-option>
      <mat-option value="enfermero">Enfermero/a</mat-option>
      <mat-option value="nutricionista">Nutricionista</mat-option>
      <mat-option value="trabajadora Social">Trabajadora Social</mat-option>
      <mat-option value="tens/preparación">TENS/Preparación</mat-option>
      <mat-option value="salaera">Sala ERA</mat-option>
      <mat-option value="ecografía">Ecografía</mat-option>
      <mat-option value="edParvulo/estimulación">Ed.Parvulo /
        Estimulación</mat-option>
      <mat-option value="tecSocial">Técnico Social</mat-option>
      <mat-option value="retinografía">Retinografía</mat-option>
      <mat-option value="espirometria">Espirometria</mat-option>
      <mat-option value="psicólogos">Psicólogos</mat-option>
      <mat-option value="odontólogos">Odontólogos</mat-option>
      <mat-option value="rxDental">RX Dental</mat-option>
      <mat-option value="dermatologia">Dermatologia</mat-option>
      <mat-option value="fondodeojo">Fondo de ojo</mat-option>
      <mat-option value="examenOftalmológico">Examen Oftalmológico</mat-option>
      <mat-option value="vicioRefracción">Vicio Refracción</mat-option>
    </mat-select>
    @if (specialtyControl.touched && specialtyControl.invalid) {
    <mat-error>Debe seleccionar especialidad</mat-error>
    }
  </mat-form-field>

  <!-- =========================
     ASIGNACIÓN BOX
========================= -->

  @if (isExistingProfessional && data.action !== 'edit') {
  <h3 class="sub-title">Asignación de box</h3>

  <div class="row">

    <div class="flex-2">
      <mat-checkbox [checked]="boxMode === 'fixed'"
        (change)="setBoxMode('fixed')">
        Atiende en el mismo box todo el tiempo
      </mat-checkbox>
    </div>

    @if (boxMode === 'fixed') {
    <div class="flex-input">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Box</mat-label>
        <input matInput placeholder="Ej: 56" [(ngModel)]="scheduleMain.box">
      </mat-form-field>
    </div>
    }

  </div>
  <mat-divider></mat-divider>

  <!-- =========================
     HORARIOS
========================= -->
  <mat-checkbox
    [checked]="boxMode === 'time'"
    (change)="setBoxMode('time')">
    Cambia de box según horario
  </mat-checkbox>

  <mat-divider></mat-divider>

  <mat-checkbox
    [checked]="boxMode === 'day'"
    (change)="setBoxMode('day')">
    Cambia de box según día de la semana
  </mat-checkbox>

  @if (boxMode === 'time') {

  <div class="schedule-table time-mode">

    <!-- 🔵 MAIN -->
    <div class="schedule-row">

      <div class="izq">
        <mat-form-field appearance="outline">
          <mat-label>Hora inicio</mat-label>
          <input matInput type="time" [(ngModel)]="scheduleMain.start">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hora fin</mat-label>
          <input matInput type="time" [(ngModel)]="scheduleMain.end">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Box</mat-label>
        <input matInput [(ngModel)]="scheduleMain.box" placeholder="Ej: 54">
      </mat-form-field>

    </div>

    <mat-divider></mat-divider>

    <!-- 🔵 OPTIONAL -->
    <div class="schedule-row">

      <div class="izq">
        <mat-form-field appearance="outline">
          <mat-label>Hora inicio</mat-label>
          <input matInput type="time" [(ngModel)]="scheduleOptional.start">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hora fin</mat-label>
          <input matInput type="time" [(ngModel)]="scheduleOptional.end">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Box</mat-label>
        <input matInput [(ngModel)]="scheduleOptional.box" placeholder="Ej: 6">
      </mat-form-field>

    </div>

  </div>

  }
  @if (boxMode === 'day') {

  <div class="schedule-table">

    <!-- 🔵 MAIN -->
    <div class="schedule-row">
      <div class="izq">
        <div class="days-row">
          @for (d of scheduleMain.days; track d.value) {
          <mat-checkbox
            [(ngModel)]="d.checked"
            [disabled]="isDayDisabledInMain(d.value)">
            {{ d.label }}
          </mat-checkbox>
          }
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Box</mat-label>
        <input matInput [(ngModel)]="scheduleMain.box" placeholder="Ej: 54">
      </mat-form-field>

    </div>

    <mat-divider></mat-divider>

    <!-- 🔵 OPTIONAL -->
    <div class="schedule-row">

      <div class="izq">
        <div class="days-row">
          @for (d of scheduleOptional.days; track d.value) {
          <mat-checkbox
            [(ngModel)]="d.checked"
            [disabled]="isDayDisabledInOptional(d.value)">
            {{ d.label }}
          </mat-checkbox>
          }
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Box</mat-label>
        <input matInput [(ngModel)]="scheduleOptional.box" placeholder="Ej: 6">
      </mat-form-field>

    </div>

  </div>

  }

  } @else {
  @if (isExistingProfessional && data.action === 'edit'){
  <h3 class="sub-title">Cambio de box</h3>

  <div class="row">

    <p class="hint-text flex-2">
      Este profesional ya tiene una asignación. <br>Aquí puedes modificar
      únicamente
      su box actual.
    </p>

    <div class="flex-input">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Box</mat-label>
        <input matInput placeholder="Ej: 56" [(ngModel)]="scheduleMain.box">
      </mat-form-field>
    </div>

  </div>
  }
  }
  }

  <!-- =========================
     DELETE
========================= -->
  @if (data.action === 'delete') {

  <div class="simple-delete">

    <mat-icon class="warn-icon">delete_forever</mat-icon>

    <div class="text">
      <p class="title">Eliminar registro de box</p>
      <p class="subtitle">
        Esta acción eliminará este registro de asignación.
      </p>
    </div>

    <div class="box-info">
      <span><b>Box:</b> {{ data.professional?.box }}</span>
    </div>

  </div>

  }

</mat-dialog-content>

<!-- =========================
     ACTIONS
========================= -->
<mat-dialog-actions align="end">

  <button mat-stroked-button mat-dialog-close class="btn-cancel">
    Cancelar
  </button>

  @if (data.action === 'delete') {
  <button
    mat-flat-button
    class="btn-primary"
    (click)="deleteSchedule()"
    [disabled]="isDeleting">

    @if (isDeleting) {
    <mat-spinner diameter="18"></mat-spinner>
    } @else {
    Eliminar registro
    }

  </button>
  } @else {
  @if (!isExistingProfessional) {
  <button
    mat-flat-button
    class="btn-primary"
    (click)="saveProfessional()"
    [disabled]="isSaving || isExistingProfessional">

    @if (isSaving) {
    <mat-spinner diameter="18"></mat-spinner>
    } @else {
    Agregar profesional
    }
  </button>
  }@else {

  @if (isExistingProfessional && data.action === 'edit') {
  <button
    mat-flat-button
    class="btn-primary"
    (click)="updateScheduleFromDialog()"
    [disabled]="isSaving">

    @if (isSaving) {
    <mat-spinner diameter="18"></mat-spinner>
    } @else {
    Asignar nuevo Box
    }

  </button>
  }@else {
  <button
    mat-flat-button
    class="btn-primary"
    (click)="assignBox()"
    [disabled]="isSaving">

    @if (isSaving) {
    <mat-spinner diameter="18"></mat-spinner>
    } @else {
    Asignar Box
    }

  </button>
  }

  }
  }

</mat-dialog-actions>
