@if (hasResults) {
<div class="sector-card" [ngClass]="sectorType">

  <div class="sector-card__header">
    <div class="sector-card__header-left">
      <h2>{{ sectorName }}</h2>
      <!-- <span class="sector-card__count">
        {{ professionals.length }}
      </span> -->
    </div>
    <div class="sector-card__header-right">
      <button matMiniFab [ngClass]="sectorType" class="app-mini-fab-custom"
        (click)="confirmDialog('add')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

  <div class="sector-card__body">
    <table class="sector-table">
      <thead>
        <tr>
          <th class="capitalize">Profesional</th>
          <th class="capitalize">Especialidad</th>
          <th>Box</th>
          <th>Horario</th>
          <!-- <th class="text-center">Duración</th>
          <th class="text-center">Espera máx.</th> -->
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (p of visibleProfessionals; track $index) {
        <tr>
          <td class="capitalize">{{ p.nombre }}</td>
          <td class="capitalize">{{ p.especialidad }}</td>
          <td class="capitalize">{{ p.box }}</td>
          <td>
            @if (p.start_time != null && p.start_time !== '') {
            <span class="schedule-chip time">
              {{ p.start_time }}
            </span>

            } @else if (p.days && p.days.length > 0) {
            <span class="days-container">
              @for (d of p.days; track $index) {
              <span class="day-chip">
                {{ formatDay(d) }}
              </span>
              }
            </span>

            } @else {
            <span class="schedule-chip empty"></span>
            }
          </td>
          <td>
            <button matMiniFab class="app-mini-fab app-mini-fab-edit"
              (click)="confirmDialog('edit', p)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button matMiniFab class="app-mini-fab app-mini-fab-delete"
              (click)="confirmDialog('delete', p)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>

    </table>

    <div class="sector-card__footer" *ngIf="filteredProfessionals.length > 6">
      <button mat-button (click)="toggleExpand()" [ngClass]="sectorType">

        @if (!isExpanded) {
        Ver todos ({{ remainingCount }})
        } @else {
        Ver menos
        }

      </button>
    </div>
  </div>
</div>
}@else {

}
