<main class="main-container">

  @if (!loading) {
  <app-search-bar (search)="onSearch($event)"></app-search-bar>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    @for (sector of filteredSectors; track sector.id) {
    <app-sector-card
      [sectorId]="sector.id"
      [sectorName]="sector.name"
      [sectorType]="sector.type"
      [professionals]="sector.professionals"
      [searchTerm]="searchTerm">
    </app-sector-card>
    }

  </div>
  }@else {
  <div class="loading-page">
    Cargando información...
  </div>
  }

</main>
